p{
    font-weight: 450;
    font-size: large;
}
h1{
    text-align: center;
    text-decoration: #f78120 underline wavy;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: 'Segoe UI', futura ,arial;
}
