p {
    font-weight: 450;
    font-size: large;
}

h1 {
    text-align: center;
    text-decoration: #f78120 underline wavy;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: 'Segoe UI', futura, arial;
}

* {
    background-color: gray;
}

h1,h2 {
    color: darkslateblue;
}

h2::first-letter{
    font-size: 50px;
}

p::first-line {
    color:purple;
}

p::selection{
    background-color: #fcbf49; ;
}
h1{
    color:blue;
}